$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-material-design/sass/bootstrap-material-design.scss";
@import "bower_components/bootstrap-material-design/sass/ripples.scss";
@import "bower_components/bootstrap-material-design/sass/plugins/_plugin-nouislider.scss";
// endbower
/* plot */

.noUi-pips-horizontal {
  width: 100%;

}
.noUi-value {
  position: absolute;
  text-align: center;
}
/* map */
#map {
  height: 500px;
  width: 100%;

  path {
    fill: saturate( $brand-primary, 20% );
    stroke-width: 1px;
    stroke: lighten($brand-primary, 30%);
    stroke-opacity: 0.8;
    opacity: 0.5;
    filter: drop-shadow( -3px -3px 3px #000 );
  }
  path:hover {
    opacity: 1.0;
    stroke-width: 10px;
    cursor: pointer;
  }


}
/* always present */
.expand-transition {
  transition: all .8s ease;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}


#station-plot {
  #station-plot-year {
    .noUi-handle {
      width: 10px;
      height: 10px;
      left: -5px;
      top: -4px;
      box-shadow: none;
    }
    .noUi-base {
      /* fix */
      top: -1px;
    }

    .noUi-tooltip {
      bottom: -20px;
      border: none;
      background: none;
      padding: 0px;
      top: auto;
    }
    .noUi-handle:after {
      display: none;

    }
    .noUi-handle:before {
      display: none;

    }
    /* .noUi-handle:before,.noUi-handle:after { */
    /*   top: -5px; */
    /*   left: 5px; */
    /*   width: 10px; */
    /*   height: 10px */
    /* } */

  }
  svg {
    width: 100%;
    min-height: 300px;
    font: 10px sans-serif;
    shape-rendering: crispEdges;

  }
  rect {
    fill: #ddd;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #fff;
  }


  .area {
    fill: lightsteelblue;
    opacity: 0.3;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
}
/* other stuff */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
