Amsterdam Den helder Z.xlsx
Makefile
dsea250.1grid.ICE5Gv1.3_VM2_L90_2012.nc
etmgeg_235.nc
extra
id1-DENHDR.nc
landmask.ipynb
landmask.nc
overview.csv
prepare.ipynb
prepare.py
psmsl.R
records.csv
records_annual.csv
requirements.txt
rlr_annual.zip
rlr_monthly.zip
slp.mnmean.real.nc
uwnd.10m.mon.mean.nc
vwnd.10m.mon.mean.nc
waterbase.R
